.line-charts {
    display: flex;
    flex-direction: column;

    &__head {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 24px;
    }

    &__chart {
        flex: 1;
        min-height: 310px;
    }
}
