.user-card {
    align-items: center;
    column-gap: 8px;
    display: flex;

    &__name {
        font-size: 14px;
        font-weight: 700;
        letter-spacing: 0.6px;
        line-height: 20px;
    }

    &__address {
        color: rgba(255, 255, 255, 0.48);
        font-size: 12px;
        letter-spacing: 0.6px;
        line-height: 16px;

        a {
            color: rgba(255, 255, 255, 0.48);
        }
    }

    &__external {
        .icon {
            display: block;
        }
    }
}
