.proposal-date-card {
    &__label {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 20px;
    }

    &__value {
        color: rgba(255, 255, 255, 0.48);
        font-size: 12px;
        letter-spacing: 0.6px;
        line-height: 16px;
    }
}
