.proposal-date-card {
    &__label {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5px;
    }

    &__value {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: rgba(255,255,255,0.48);
    }
}
