@import '@/styles/_mix';

.staking-account-field {
    border: 1px solid rgba(255, 255, 255, 0.16);
    margin: 0 0 16px;
    padding: 10px 16px;

    &__head {
        align-items: center;
        color: rgba(255, 255, 255, 0.64);
        display: flex;
        font-size: 14px;
        justify-content: space-between;
        letter-spacing: 0.75px;
        line-height: 20px;
        margin: 0 0 8px;

        strong {
            color: #ffffff;
            font-weight: normal;
        }
    }

    &__main {
        align-items: center;
        display: flex;
        gap: 10px;
        justify-content: space-between;
    }

    &__token {
        align-items: center;
        display: flex;
        flex-shrink: 0;
        font-size: 16px;
        gap: 8px;
        letter-spacing: 0.25px;
        line-height: 20px;
    }

    &__input {
        @include input-reset;

        color: #ffffff;
        cursor: text;
        font-size: 24px;
        font-weight: bold;

        &::placeholder,
        &:disabled {
            color: #ffffff;
            cursor: not-allowed;
            opacity: 0.32;
        }
    }

    &__balance {
        text-align: right;
    }

    &__label,
    &__balance-label {
        display: none;

        &_full {
            @media only screen and (min-width: 768px) {
                display: initial;
            }
        }

        &_short {
            @media only screen and (max-width: 767px) {
                display: initial;
            }
        }
    }
}
