.option-switcher {
    display: flex;

    &__main {
        color: #ffffff;
        display: block;
        padding: 0 0 0 16px;
        position: relative;
    }

    &__label {
        align-items: flex-start;
        cursor: pointer;
        display: block;
    }

    &.disabled {
        cursor: not-allowed;
        opacity: 0.6;
    }

    &.disabled &__label {
        cursor: not-allowed;
    }

    &__annotation {
        margin-top: 4px;
    }
}
