@import '@/styles/_mix';

.filters {
    align-items: center;
    column-gap: 16px;
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
    max-width: 550px;

    &_block {
        display: block;
        max-width: 100%;
    }

    &__query {
        flex-grow: 1;
    }

    &__filter {
        position: relative;
    }

    &__counter {
        background: #c5e4f3;
        border-radius: 20px;
        color: #050b2e;
        display: inline-block;
        font-size: 12px;
        line-height: 20px;
        margin: 0 0 0 10px;
        min-width: 20px;
        padding: 0 5px;
        text-align: center;
    }

    &-popup {
        background: #313551;
        box-shadow: 0 8px 16px rgb(43 51 56 / 8%);
        margin-top: 8px;
        padding: 20px;
        position: absolute;
        right: 0;
        top: 100%;
        width: 320px;
        z-index: 4;

        @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
            -webkit-backdrop-filter: blur(80px);
            backdrop-filter: blur(80px);
            background: rgb(255 255 255 / 8%);
        }

        &__actions {
            align-items: center;
            border-top: 1px solid rgb(255 255 255 / 8%);
            column-gap: 10px;
            display: flex;
            justify-content: flex-end;
            margin: 20px 0 0;
            padding: 20px 0 0;
        }
    }

    &-field {
        margin: 0 0 16px;

        &__title {
            font-size: 14px;
            letter-spacing: 0.6px;
            line-height: 20px;
            margin: 0 0 4px;
        }

        &__inputs {
            align-items: center;
            column-gap: 10px;
            display: flex;
        }
    }

    &-radio-input {
        align-items: flex-start;
        display: flex;
        flex-direction: column;
        row-gap: 12px;
    }

    &-text-field {
        position: relative;
        width: 100%;

        &_dirty &__input {
            &.form-input {
                padding-right: 36px;
            }
        }
    }
}
