.liquidity-requests-header {
    display: grid;
    padding: 12px;
    background: rgba(197, 228, 243, 0.16);
    margin: 0 0 32px;
    column-gap: 24px;
    grid-template-columns: minmax(max-content, 2fr) minmax(max-content, 2fr) minmax(max-content, 2fr) max-content minmax(max-content, 6fr);

    &__label {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: rgba(255,255,255,0.56);
    }

    &__value {
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.5px;
    }

    @media (min-width: 1024px) {
        &__filter {
            justify-self: flex-end;
        }
    }

    @media (max-width: 1023px) {
        grid-template-columns: repeat(6, 1fr);
        gap: 12px;

        &__spend {
            grid-column: 1 / 3;
        }

        &__get {
            grid-column: 3 / 5;
        }

        &__reward {
            grid-column: 5 / 7;
        }

        &__submit {
            grid-column: 1 / 4;
        }

        &__filter {
            grid-column: 4 / 7;
        }
    }

    @media (max-width: 767px) {
        display: flex;
        flex-direction: column;
    }
}
