.token-amount-field {
    user-select: none;

    .amount-field-suffix {
        align-items: center;
        display: flex;
        flex-direction: row;
        font-size: 14px;
        gap: 12px;
        line-height: normal;
        min-width: fit-content;
        padding-right: 12px;
    }
}
