.badge {
    background: rgba(255, 255, 255, 0.16);
    border-radius: 27px;
    color: #ffffff;
    display: inline-block;
    font-size: 12px;
    letter-spacing: 0.6px;
    line-height: 16px;
    padding: 4px 8px;

    &_success {
        background: rgba(74, 180, 74, 0.16);
        color: #4ab44a;
    }

    &_warning {
        background: rgba(230, 172, 0, 0.16);
        color: #e6ac00;
    }

    &_fail {
        background: rgba(235, 67, 97, 0.16);
        color: #eb4361;
    }

    &_disabled {
        background: rgba(255, 255, 255, 0.08);
        color: rgba(255, 255, 255, 0.48);
    }
}
