.staking-performance-card {
    margin: 0 0 12px;

    &:last-child {
        margin-bottom: 0;
    }

    &__title {
        font-size: 12px;
        line-height: 16px;
        letter-spacing: 0.6px;
        color: rgba(255, 255, 255, 0.48);
        margin: 0 0 4px;
    }

    &__value {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.15px;
        line-height: 24px;

        &_small {
            font-size: 16px;
            font-weight: 400;
            line-height: 20px;
        }

        &_soon {
            font-size: 14px;
            line-height: 16px;
            font-weight: 400;
        }
    }
}
