.events-distribution {
    position: relative;
    display: flex;
    flex-direction: column;
    min-height: 532px;

    &__table {
        &.list {
            min-height: auto;
            --list-grid-template: 44px minmax(130px, 20%) minmax(100px, 35%) minmax(80px, 45%);
        }
    }

    &__chain-id-table {
        &.list {
            min-height: auto;
            --list-grid-template: 44px minmax(130px, 1fr) minmax(100px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr);
        }
    }

    &__total-chain-id-table {
        &.list {
            min-height: auto;
            --list-grid-template: 44px minmax(130px, 1fr) minmax(80px, 1fr) minmax(80px, 1fr);
        }
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.6px;
        line-height: 24px;
        margin: 0 0 24px;
    }

    &__chart {
        position: relative;
        align-items: center;
        display: flex;
        flex-grow: 1;
        justify-content: center;
        margin: 0 0 24px;
        height: 280px;
    }

    &__no-data {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 14px;
        letter-spacing: 0.5px;
        opacity: 0.48;
        pointer-events: none;
    }

    &__spinner {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        pointer-events: none;
    }

    &__color {
        pointer-events: none;
    }
}
