.relayers-header {
    &-layout {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 32px;

    }

    &-actions {
        align-items: center;
        column-gap: 12px;
        display: flex;
    }

    &-external-link {
        align-items: center;
        color: rgba(255, 255, 255, 0.48);
        display: flex;
        height: 44px;
        justify-content: center;
        width: 44px;
    }
}
