@import '_mix';

.form-label { display: block; }

.form-fieldset {
    flex-grow: 1;
    margin: 0;
    outline: none;
    padding: 0;

    + .form-fieldset {
        margin-top: 16px;
    }
}

.form-legend {
    color: #ffffff;
    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0.75px;
    line-height: 20px;
    margin-bottom: 4px;
    position: relative;
}

.form-input {
    @include input-reset;

    border: 1px solid rgba(255, 255, 255, 0.24);
    box-sizing: border-box;
    color: #ffffff;
    cursor: text;
    font-size: 14px;
    font-weight: 400;
    height: 36px;
    letter-spacing: 0.5px;
    line-height: 20px;
    overflow: hidden;
    padding: 0 12px;
    text-overflow: ellipsis;
    transition: border 0.2s ease;
    white-space: nowrap;

    &--sm { height: 28px; }
    &--md { height: 44px; }
    &--lg { height: 56px; }

    &:hover { border-color: rgba(255, 255, 255, 0.4); }

    &:focus { border-color: rgba(197, 228, 243, 0.64); }

    &:disabled {
        background-color: rgba(0, 0, 0, 0.08);
        border-color: rgba(255, 255, 255, 0.16);
        color: rgba(255, 255, 255, 0.72);
        cursor: not-allowed;
    }

    &.caution {
        border-color: #e6ac00;
        box-shadow: 0 0 2px 0 #e6ac00;
    }

    &.invalid {
        border-color: #eb4361;
        box-shadow: 0 0 2px 0 #eb4361;
    }

    &::-webkit-input-placeholder {
        color: rgba(255, 255, 255, 0.4);
    }

    &::-moz-placeholder {
        color: rgba(255, 255, 255, 0.4);
    }

    &:-moz-placeholder {
        color: rgba(255, 255, 255, 0.4);
    }

    &:-ms-input-placeholder {
        color: rgba(255, 255, 255, 0.4);
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.4);
    }

    &:-webkit-autofill {
        color: #ffffff !important;
        -webkit-text-fill-color: #ffffff !important;
    }
}
