.padding { padding: 10px; }

.padding-left { padding-left: 10px; }
.padding-right { padding-right: 10px; }
.padding-bottom { padding-bottom: 10px; }
.padding-top { padding-top: 10px; }

.padding-vertical {
    padding-bottom: 10px;
    padding-top: 10px;
}

.padding-remove { padding: 0; }
.padding-left-remove { padding-left: 0; }
.padding-right-remove { padding-right: 0; }
.padding-bottom-remove { padding-bottom: 0; }
.padding-top-remove { padding-top: 0; }
