.text-muted,
.text-muted a {
    color: rgba(255, 255, 255, 0.56);
}

.text-lg {
    font-size: 18px;
    font-weight: 400;
    letter-spacing: 0.15px;
    line-height: 24px;
}

.text-sm {
    font-size: 12px;
    line-height: 18px;
}

.text-nowrap {
    white-space: nowrap;
}

.truncate {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.text-padding-horizontal {
    padding: 0 10px;
}
