:root {
    --tvm-connect-ui-popup-bg: rgb(29,32,49);
    --tvm-connect-ui-icon: rgba(255,255,255,0.48);
    --tvm-connect-ui-icon-hover: #fff;
    --tvm-connect-ui-text: #fff;
    --tvm-connect-ui-item-bg: rgba(255,255,255,0.04);
    --tvm-connect-ui-item-focus: rgb(197,228,243);
    --tvm-connect-ui-hint: rgba(255,255,255,0.48);
    --tvm-connect-ui-label-text: rgba(255,255,255,0.48);
    --tvm-connect-ui-label-bg: rgb(29,32,49);
    --tvm-connect-ui-error: #f5604b;
    --tvm-connect-ui-btn-bg: rgba(0,0,0,0.12);
    --tvm-connect-ui-btn-text: #fff;
    --tvm-connect-ui-btn-focus: rgb(197,228,243);
    --tvm-connect-ui-overlay: rgba(0,0,0,0.7);
}
