@import '@/styles/_mix';

.validation-rounds-view-switcher {
    align-items: center;
    column-gap: 8px;
    display: flex;

    &__item {
        @include btn-reset;

        align-items: center;
        color: #c5e4f3;
        display: flex;
        height: 36px;
        justify-content: center;
        transition: background 0.2s ease;
        width: 36px;

        &_active ,
        &:hover {
            background: rgba(197, 228, 243, 0.08);
        }
    }
}

.validation-rounds-header {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;

    @media (max-width: 767px) {
        flex-direction: column;
        align-items: flex-start;
        grid-row-gap: 10px;
    }
}

.validation-rounds-filter {
    align-items: center;
    column-gap: 8px;
    display: flex;

    &__nav {
        &.btn {
            align-items: center;
            display: flex;
            justify-content: center;
            min-height: 36px;
            min-width: 36px;
            padding: 0;
        }
    }

    &__input {
        width: 80px;
    }
}
