.content-section {
    margin: 0 0 40px;

    hr {
        margin: 0 0 16px;
    }
}

.content-section-actions {
    align-items: center;
    column-gap: 12px;
    display: flex;
}

.content-section-header {
    align-items: center;
    column-gap: 16px;
    display: flex;
    justify-content: space-between;
    margin: 0 0 16px;

    .content-section-title {
        margin-bottom: 0;
    }

    &_size {
        &_lg {
            margin-bottom: 28px;
        }
    }
}

.content-section-title {
    font-size: 24px;
    font-weight: 500;
    letter-spacing: 0.15px;
    line-height: 28px;
    margin: 0 0 16px;

    &_size {
        &_lg {
            font-size: 28px;
            font-weight: 700;
            letter-spacing: 0.25px;
            line-height: 36px;
            margin-bottom: 28px;
        }
    }
}
