.collapse {
    margin: 0 0 16px;

    &__name {
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.6px;
        cursor: pointer;
    }

    &__icon {
        color: rgba(255,255,255,0.48);
    }

    &__data {
        margin: 16px 0 0;
    }
}
