.transfers-table {
    &.list {
        --list-grid-template: minmax(270px, 20%) minmax(130px, 20%) minmax(160px, 20%) minmax(120px, 20%) minmax(80px, 20%);
    }

    .copy {
        opacity: 0.33;
    }

    &__amount {
        align-items: center;
        column-gap: 8px;
        display: flex;
    }

    &__info {
        border-bottom: 1px solid rgba(255, 255, 255, 0.08);
        padding: 10px 0;
    }

    &__summary {
        &.summary {
            .summary__key {
                max-width: 250px;
            }
        }
    }

    &-status {
        border-radius: 50%;
        display: inline-block;
        height: 7px;
        width: 7px;

        &.success {
            background: #4ab44a;
        }

        &.pending {
            background: #e6ac00;
        }

        &.rejected {
            background: #eb4361;
        }

    }

    &-data {
        align-items: center;
        column-gap: 12px;
        display: flex;
    }

    &-name {
        font-size: 12px;
        margin: 0 0 2px;
        opacity: 0.33;
    }
}
