.address {
    &.explorer-link {
        gap: 6px;
    }

    &__icon {
        color: rgba(255, 255, 255, 0.48);
        transition: color 0.25s ease;

        &:hover {
            color: #ffffff;
        }
    }
}
