.round-card {
    align-items: center;
    column-gap: 12px;
    display: flex;

    &_size_lg &__title {
        font-size: 28px;
        letter-spacing: 0.25px;
        line-height: 36px;
    }

    &__title {
        font-size: 18px;
        font-weight: bold;
        letter-spacing: 0.6px;
        line-height: 24px;
        margin: 0 0 4px;
    }

    &__meta {
        align-items: center;
        column-gap: 12px;
        display: flex;
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 20px;
    }
}
