.unlock-form {
    &.popup__wrap {
        padding: 20px;
        max-width: 560px;
    }

    &__title {
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.15px;
        margin: 0 0 20px;
    }

    &__actions {
        display: flex;
        align-items: center;
        column-gap: 8px;
        margin: 20px 0 0;
    }

    &__table {
        &.list {
            min-height: auto;
            --list-grid-template: minmax(30px, 5%) minmax(250px, 70%) minmax(120px, 25%);
        }
    }

    &__empty {
        font-size: 14px;
        letter-spacing: 0.6px;
    }

    &__pagination {
        margin-top: 16px;
    }
}
