.proposal-content {
    margin-bottom: 0;

    &__head {
        align-items: center;
        display: flex;
        justify-content: space-between;
        margin: 0 0 16px;
    }

    &__head &__title {
        margin-bottom: 0;
    }

    &__title {
        font-size: 18px;
        font-weight: 700;
        letter-spacing: 0.6px;
        line-height: 24px;
        margin: 0 0 16px;
    }

    &__discussion {
        align-items: center;
        color: rgba(255, 255, 255, 0.48);
        column-gap: 9px;
        display: flex;
        font-size: 14px;
        letter-spacing: 0.6px;
        line-height: 20px;
    }

    &__body {
        font-size: 14px;
        letter-spacing: 0.5px;
        line-height: 20px;
        margin: 0 0 24px;
        word-break: break-word;
    }
}
