.proposal-summary {
    align-items: center;
    column-gap: 6px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.6px;
    line-height: 20px;
    white-space: normal;

    .icon {
        margin: 0 0 0 4px;
    }
}
