.create-relayer-connect {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: center;
    min-height: 350px;
    text-align: center;

    p {
        margin: 0 0 20px;
    }
}
