.proposal-voting {
    column-gap: 16px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    row-gap: 16px;

    @media only screen and (max-width: 767px) {
        grid-template-columns: minmax(0, 1fr);
    }
}
