.pie-chart-tooltip {
    background: #313551;
    border-radius: 2px;
    font-size: 12px;
    left: 0;
    letter-spacing: 0.6px;
    line-height: 16px;
    padding: 12px;
    pointer-events: none;
    position: fixed;
    top: 0;
    transition: transform 0.1s ease;

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
        -webkit-backdrop-filter: blur(64px);
        backdrop-filter: blur(64px);
        background: linear-gradient(0deg, rgb(5 11 46 / 12%), rgb(5 11 46 / 12%)), rgb(255 255 255 / 12%);
    }
}

.pie-chart-hover {
    opacity: 0;
    transition: opacity 0.2s ease;

    &_active {
        opacity: 0.25;
    }
}
