.amount-field {
    align-items: center;
    border: 1px solid rgba(255, 255, 255, 0.24);
    display: flex;
    transition: border 0.2s ease;

    &:hover { border-color: rgba(255, 255, 255, 0.4); }

    &:focus { border-color: rgba(197, 228, 243, 0.64); }

    &.disabled {
        background-color: rgba(0, 0, 0, 0.08);
        border-color: rgba(255, 255, 255, 0.16);

        .form-input {
            background-color: transparent;
        }
    }

    &.caution {
        border-color: #e6ac00;
        box-shadow: 0 0 2px 0 #e6ac00;
    }

    &.invalid {
        border-color: #eb4361;
        box-shadow: 0 0 2px 0 #eb4361;
    }

    &-suffix {
        margin-left: 5px;
        margin-right: 4px;
    }

    .form-input {
        border: 0 !important;
    }

    .btn {
        height: 28px;
        line-height: 26px;
        min-width: fit-content;

        &--sm {
            font-size: 12px;
            font-weight: 400;
            height: 20px;
            line-height: 18px;
        }
        &--md {
            height: 36px;
            line-height: 34px;
        }
        &--lg {
            height: 48px;
            line-height: 46px;
        }
    }
}
