.status-indicator {
    border-radius: 16px;
    display: inline-block;
    font-size: 14px;
    font-weight: 500;
    line-height: 20px;
    padding: 6px 12px 6px 32px;
    position: relative;
    text-align: left;
    user-select: none;
    white-space: nowrap;

    &::before {
        border: 2px solid;
        border-radius: 9px;
        content: '';
        display: block;
        height: 18px;
        left: 7px;
        margin-top: -9px;
        position: absolute;
        top: 50%;
        width: 18px;
    }

    &.disabled {
        background-color: rgba(255, 255, 255, 0.08);
        color: rgba(255, 255, 255, 0.48);
        &::before { border-color: rgba(255, 255, 255, 0.16); }
    }

    &.pending {
        background-color: transparentize(#e6ac00, 0.84);
        color: #e6ac00;
        &::before {
            border-color: #e6ac00;
            border-top-color: transparentize(#e6ac00, 0.84);
        }
    }

    &.confirmed {
        background-color: transparentize(#4ab44a, 0.84);
        color: #4ab44a;
        &::before {
            background: center center no-repeat url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M6.5 11.4496L10.9 15.8496L18.05 7.59961' stroke='%234AB44A' stroke-width='2.2'/%3E%3C/svg%3E%0A");
            border: none;
            border-radius: 0;
            height: 24px;
            left: 4px;
            margin-top: -12px;
            width: 24px;
        }
    }

    &.rejected {
        background-color: transparentize(#eb4361, 0.84);
        color: #eb4361;
        &::before {
            background-image: url("data:image/svg+xml,%3Csvg width='24' height='24' viewBox='0 0 24 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill-rule='evenodd' clip-rule='evenodd' d='M12.0001 13.5538L8.3779 17.1759L6.82227 15.6203L10.4444 11.9981L6.82227 8.37595L8.3779 6.82031L12.0001 10.4425L15.6223 6.82031L17.1779 8.37595L13.5557 11.9981L17.1779 15.6203L15.6223 17.1759L12.0001 13.5538Z' fill='%23EB4361'/%3E%3C/svg%3E%0A");
            border: none;
            border-radius: 0;
            height: 24px;
            left: 4px;
            margin-top: -12px;
            width: 24px;
        }
    }

    &.spinner {
        &::before { animation: rotate 0.75s linear infinite; }
    }
}

@keyframes rotate {
    from { transform: rotate(0); }
    to { transform: rotate(360deg); }
}
